<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>70532498044-ql81q78ntevcqkrsv0hcdsqaashe0apb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70532498044-ql81q78ntevcqkrsv0hcdsqaashe0apb</string>
	<key>API_KEY</key>
	<string>AIzaSyAaiNu1EbJ86wqhu-UCkPif9N8HD1m6zz4</string>
	<key>GCM_SENDER_ID</key>
	<string>70532498044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icecream.Budget-App</string>
	<key>PROJECT_ID</key>
	<string>budgetfirestore</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetfirestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70532498044:ios:dc3b792c3f1c5e9e</string>
	<key>DATABASE_URL</key>
	<string>https://budgetfirestore.firebaseio.com</string>
</dict>
</plist>